<div class="row">
  <div class="column left" style="background-color:#ffe1e1;">
    <h2>menu</h2>
    <p>Some options</p>





  </div>
  <div class="column middle" style="background-color:#fff;">
    <h2>Main index</h2>
    <p>Some posts..</p>

    <p>create post</p>
    
    <%= form_with model: @post do |form| %>
      <div class="field">
        <%= form.label :text %>
        <%= form.rich_text_area :text %>
      </div>

      <table>
        <tr>
          <th>Text</th>
        </tr>
        <% @posts.each do |p| %>
          <tr>
            <td><%= p.text %></td>
          </tr>
        <% end %>

      </table>
    <% end %>

  </div>






  <div class="column right" style="background-color:#ffe1e1;">
    <h2>profile</h2>
    <p>Some options..</p>
  </div>
</div>


