// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



/* Create three unequal columns that floats next to each other */
.column {
box-sizing: border-box;

    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left{
box-sizing: border-box;

  width: 15%;
}

.middle {
box-sizing: border-box;

  width: 69%;


}

.right {
box-sizing: border-box;

  width: 19%;

}

.middle {
box-sizing: border-box;

  width: 66%;


}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.post-mid{
	
	border:2px solid #80808042;
	border-radius: 2px;
	box-shadow: 4px 2px 4px 3px #80808042;
	border-style: none;
}

table.a {
	width:48px;
}

.logo{
  
  border-radius: 50%;
     height: 30px;
     width: 27px;
     margin-left: 20px;
  
}

.row1{
  text-color: red;
}